<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/GogCol/13_dropduplicates_fillna_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=a1bf5ac1e433a587b812e5a077b2b8c17b41fb31ae1adc222650d5bbeec7aeb4
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:

data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago"),
    ("Jane", 24, "San Francisco"),
    ("Alice", 70, "Tokyo"),
    ("Vievk",34, None)
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [4]:
df4 = df.dropDuplicates()
df5 = df.dropDuplicates(["Name"])
df4.show()
df5.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| Jane| 24|San Francisco|
| John| 28|     New York|
|  Bob| 22|  Los Angeles|
|Alice| 70|        Tokyo|
|Alice| 30|      Chicago|
|Vievk| 34|         NULL|
+-----+---+-------------+

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
|Alice| 30|      Chicago|
|  Bob| 22|  Los Angeles|
| Jane| 24|San Francisco|
| John| 28|     New York|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [ ]:

df6 = df.dropna()
df.show()

+--------------------+----------+------+------+--------------------------+
|name                |dob       |gender|salary|timestamp_column          |
+--------------------+----------+------+------+--------------------------+
|{James, , Smith}    |1991-04-01|M     |300.0 |2024-02-01 06:05:39.411185|
|{Michael, Rose, }   |2000-05-19|M     |400.0 |2024-02-01 06:05:39.411185|
|{Robert, , Williams}|1978-09-05|M     |400.0 |2024-02-01 06:05:39.411185|
|{Maria, Anne, Jones}|1967-12-01|F     |400.0 |2024-02-01 06:05:39.411185|
|{Jen, Mary, Brown}  |1980-02-17|F     |-0.1  |2024-02-01 06:05:39.411185|
+--------------------+----------+------+------+--------------------------+