<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/GogCol/15_crosstab_cube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [6]:
from pyspark.sql.functions import sum

In [7]:
# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Sample data
data = [
    ("2022-01-01", "Product1", 10, 100.0),
    ("2022-01-01", "Product2", 5, 50.0),
    ("2022-01-02", "Product1", 8, 80.0),
    ("2022-01-02", "Product2", 7, 70.0),
    ("2022-01-02", "Product3", 3, 30.0),
]

# Define the schema
schema = ["Date", "Product", "Quantity", "Revenue"]

# Create a DataFrame
df = spark.createDataFrame(data, schema=schema)

In [9]:
df.show()

df.cube("Date", "Product").agg(sum("Quantity").alias("TotalQuantity"), sum("Revenue").alias("TotalRevenue")).show()


df.crosstab("Date", "Product").show()

+----------+--------+--------+-------+
|      Date| Product|Quantity|Revenue|
+----------+--------+--------+-------+
|2022-01-01|Product1|      10|  100.0|
|2022-01-01|Product2|       5|   50.0|
|2022-01-02|Product1|       8|   80.0|
|2022-01-02|Product2|       7|   70.0|
|2022-01-02|Product3|       3|   30.0|
+----------+--------+--------+-------+

+----------+--------+-------------+------------+
|      Date| Product|TotalQuantity|TotalRevenue|
+----------+--------+-------------+------------+
|2022-01-01|Product1|           10|       100.0|
|2022-01-01|    NULL|           15|       150.0|
|      NULL|Product1|           18|       180.0|
|      NULL|    NULL|           33|       330.0|
|      NULL|Product2|           12|       120.0|
|2022-01-01|Product2|            5|        50.0|
|2022-01-02|    NULL|           18|       180.0|
|      NULL|Product3|            3|        30.0|
|2022-01-02|Product3|            3|        30.0|
|2022-01-02|Product2|            7|        70.0|
|2022-01-02|Product1|            8|        80.0|
+----------+--------+-------------+------------+

+------------+--------+--------+--------+
|Date_Product|Product1|Product2|Product3|
+------------+--------+--------+--------+
|  2022-01-02|       1|       1|       1|
|  2022-01-01|       1|       1|       0|
+------------+--------+--------+--------+