<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/dataframe_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=a66c829a804085fac81b8d0f63075ff5381f43295222ca388a833c60be03d3ed
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [14]:
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago"),
    ("Jane", 24, "San Francisco"),
    ("Alice", 70, "Tokyo"),
    ("Vievk",34, None)
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [15]:
from pyspark.sql.functions import col

In [16]:
df1 = df.filter(col("Age") > 25)
df1.show()

+-----+---+--------+
| Name|Age|    City|
+-----+---+--------+
| John| 28|New York|
|Alice| 30| Chicago|
|Alice| 70|   Tokyo|
|Vievk| 34|    NULL|
+-----+---+--------+

In [17]:
df2 = df.select("Name","Age")
df2.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
| Jane| 24|
|  Bob| 22|
|Alice| 30|
| Jane| 24|
|Alice| 70|
|Vievk| 34|
+-----+---+

In [18]:
df3 = df.drop("Age")
df3.show()

+-----+-------------+
| Name|         City|
+-----+-------------+
| John|     New York|
| Jane|San Francisco|
|  Bob|  Los Angeles|
|Alice|      Chicago|
| Jane|San Francisco|
|Alice|        Tokyo|
|Vievk|         NULL|
+-----+-------------+

In [19]:
df4 = df.dropDuplicates()
df5 = df.dropDuplicates(["Name"])
df4.show()
df5.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| Jane| 24|San Francisco|
| John| 28|     New York|
|  Bob| 22|  Los Angeles|
|Alice| 70|        Tokyo|
|Alice| 30|      Chicago|
|Vievk| 34|         NULL|
+-----+---+-------------+

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
|Alice| 30|      Chicago|
|  Bob| 22|  Los Angeles|
| Jane| 24|San Francisco|
| John| 28|     New York|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [20]:
df6 = df.dropna()
df6.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
+-----+---+-------------+