<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/09_joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

In [ ]:
from pyspark.sql import Row
from pyspark.sql.functions import desc

df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")

df2 = spark.createDataFrame([Row(height=80, name="Tom"),
                             Row(height=85, name="Bob")])

df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])

df4 = spark.createDataFrame([
    Row(age=10, height=80, name="Alice"),
    Row(age=5, height=None, name="Bob"),
    Row(age=None, height=None, name="Tom"),
    Row(age=None, height=None, name=None),
])

In [ ]:
#inner
df.join(df2, 'name','inner').select('name','height').show()

In [ ]:
df.join(df2, "name", 'outer').select(
    'name','height').show()